.css-u0soqy-MuiPickerStaticWrapper-root {
  /* box-shadow: 3px 2px 10px 5px #888888 !important; */
  
}

.css-hlj6pa-MuiDialogActions-root {
  display: none !important;
}

.css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root
  .MuiPickersToolbar-penIconButton {
  display: none !important;
}

.css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  padding: 0 !important;
  
}
.css-hq2kpw-MuiGrid-root-MuiPickersToolbar-content{
  display: none !important;
}

.css-1hbyad5-MuiTypography-root {
  display: none !important;
}

.css-1hbyad5-MuiTypography-root{
display: none !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #228276 !important;
  outline: none;
}

.css-kbfmap-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background-color: #228276 !important;
  outline: none;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #228276 !important;
  color: black !important;
  outline: none;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border-color: transparent !important;
  color: #228276;
}

.css-144dnr3-MuiBadge-badge {
  color: green;
}

.css-1n2mv2k {
  /* background-color: #f4f4f4; */
  margin-bottom: 1rem;
}


.css-knqc4i-MuiDialogActions-root{
  display: none !important;
}

.css-jhsfre-MuiGrid-root-MuiPickersToolbar-content {
  display: none !important;
}




.css-kqfwmk.Mui-selected{
  background-color: #228276 !important;
  color: white !important;
}

.css-1bzq5ag .css-k3zp98 .css-1beylcr .css-1vskg8q{
  display: none !important;
}