.common {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}
.checkbox {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.textInfo p {
  font-size: 14px;
}
.textInfo h3 {
  font-size: 14px;
  color: grey;
}

.imageContainer {
  overflow: hidden;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sideContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.dropMenuContainer {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  border: 2px solid var(--border-grey);
  border-radius: 8px;
  padding: 1px 8px;
}

.dropMenuContainer div p {
  font-size: 13px;
}

.gripIcon {
  font-size: 15px;
  color: #969595;
}
