.modal_parent_div{
    width:370px;
    display:flex;
    height: 100px;
    position: absolute;
    bottom: 100px;
    right: 100px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0 15px;
}

.caller_name_div{
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    font-weight: bold;
    color: #fff;
}

.buttons_parent_div{
    width: 100%;
    
    display: flex;
    justify-content: start;
    align-items: center;
}