$sidebar-bg-color: #fafafa;
$sidebar-color: #333;
$highlight-color: #333 !default;
$icon-bg-color: transparent;
$sidebar-width: 240px;
$z-index: 10 !important;
$submenu-bg-color: #fafafa !default;
$submenu-bg-color-collapsed: #fafafa !default;
// $breakpoint-xl: 1336px !default;

// @media only screen and (max-width: 1600px) and (min-width:1336){
//   .toggled{
//     width: 80% !important;
//   }
//   *{
//     -ms-overflow-style: none;
// }
// ::-webkit-scrollbar {
//     display: none;
// }
// }
// @media only screen and (max-width: 1336px){

// .active{
//   color: #034488;
//  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//   font-weight: 500;

// }
// .toggled{
//   width: 350px !important;
// }

// .collapsed{
//   width:0% !important;
// }
//   .pro-sidebar {
//     width: 100%;
//     position: absolute;
//     height: 100%;
//     z-index: 10 !important;
//   }

//   *{
//     -ms-overflow-style: none;
// }
// ::-webkit-scrollbar {
//     display: none;
// }
// }
/* This is for submenu item */

@import "~react-pro-sidebar/dist/scss/styles.scss";
