.Wrapper {
  width: 875px;
  height: 809px;
  gap: 0px;
  border-radius: 23.47px;
  /* opacity: 0px; */

  background: rgba(255, 255, 255, 1);
}
.Layoutt {
  width: 875px;
  height: 54px;
  padding: 15px 709px 11px 27px;
  gap: 301.75px;
  border-radius: 23.47px 23.47px 0px 0px;
  /* opacity: 0px; */
  box-shadow: 0px 1.68px 6.71px 0px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 1);
}
.Arrow {
  width: 15.81px;
  height: 19.25px;
  top: 6.42px;
  left: 23.33px;
  gap: 0px;
  /* opacity: 0px; */
  /* angle: -90 deg; */
  transform: rotate(90deg);
  color: var(--All-Black, rgba(0, 24, 21, 1));
}
.Heading {
  /* font-size: 16px;
    font-weight: 500; */
  width: 91px;
  height: 19px;
  top: 18px;
  left: 75px;
  gap: 0px;
  /* opacity: 0px; */
  /* font-family: SF Pro Display; */
  font-size: 18.76px;
  font-weight: 700;
  line-height: 22.39px;
  text-align: left;
  color: rgba(51, 51, 51, 1);
}

.InputWrapper {
  display: flex;
  gap: 1rem;
  /* justify-content: space-between; */
  justify-content: space-around;
  /* align-items: center; */
  /* background-color: yellow; */
  padding-top: 1rem;
}

.UpperProfileWrapper {
  border: 1px solid var(--font-grey-10);
  /* padding: 2rem 6rem; */
  /* display: flex; */
  /* gap: 3rem; */
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  /* width: 444px; */
  width: 444px;
  height: 311px;
  top: 68px;
  left: 32px;
  /* left: 82px; */
  gap: 10px;
  /* opacity: 0px; */
  /* background-color: brown; */
}

.ReportAnalysis {
  position: relative;
  width: 277px;
  height: 12.61px;
  top: 15.76px;
  left: 17px;
  gap: 0px;
  /* opacity: 0px; */
  /* font-family: SF Pro Text; */
  font-size: 14px;
  font-weight: 600;
  line-height: 16.71px;
  text-align: left;
  /* background-color: beige; */
  color: rgba(51, 51, 51, 1);
}

.TablePartText {
  display: flex;
  justify-content: space-between;
  width: 357px;
  /* background: red; */
  align-items: start;
}
.SharedMemberText {
  width: 121px;
  height: 12px;
  top: 79px;
  left: 496px;
  gap: 0px;
  /* opacity: 0px; */
  color: rgba(51, 51, 51, 1);
}
.DropdownButton {
  /* position: relative; */
  display: flex;

  /* top: 73px; */
  left: 703px;
  padding: 12px 16px 12px 16px;
  gap: 8px;
  border-radius: 8px;
  border: 2px;
  /* opacity: 0px; */
  color: rgba(217, 217, 217, 1);
  border: 2px solid rgba(227, 227, 227, 1);
  align-items: center;
  /* font-size: 11px; */

  /* font-family: SF Pro; */
  font-size: 12px;
  font-weight: 400;
  line-height: 14.32px;
  text-align: left;
  width: 85px;
  height: 14px;
  gap: 0px;
  /* opacity: 0px; */
}

.SharedMembersTable {
  width: 357px;
  height: 263px;
  top: 116px;
  left: 487px;
  gap: 18px;
  /* border-radius: 14px ; */
  /* opacity: 0px; */
}
.HeadingRow {
  /* background: #F1F1F1; */
  background: rgba(241, 241, 241, 1);
  width: 357px;
  height: 39px;
  gap: 0px;
  /* opacity: 0px; */
}
.HeadingText {
  width: 74px;
  height: 17px;
  gap: 0px;
  /* opacity: 0px; */
  color: rgba(116, 116, 116, 1);
}

.SharedMembersText {
  /* font-family: SF Pro; */
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  /* text-align: left; */
  color: #333333;
}

/* lower bottom */
.SectionAnalysisText {
  width: 136px;
  height: 17px;
  /* top: 392px; */
  left: 33px;
  gap: 0px;
  /* opacity: 0px; */
  /* font-family: SF Pro Display; */
  font-size: 14px;
  font-weight: 700;
  line-height: 16.71px;
  letter-spacing: -0.15399999916553497px;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  margin-top: 1rem;
  position: relative;
}

.DropdownButtonBottom1 {
  display: flex;
  position: relative;
  width: 161px;
  height: 41px;
  /* top: 416px; */
  left: 33px;
  padding: 12px 16px 12px 16px;
  gap: 8px;
  border-radius: 8px;
  /* justify-content: center; */
  align-items: center;
  /* opacity: 0px; */
  color: rgba(217, 217, 217, 1);
  border: 2px solid rgba(227, 227, 227, 1);
  /* font-family: SF Pro; */
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: left;
}
.BottomBarGraph {
  width: 807px;
  height: 300px;
  position: relative;
  /* top: 472px; */
  left: 33px;
  gap: 35px;
  border-radius: 14px;
  border: 1px;
  /* opacity: 0px; */
  color: rgba(255, 255, 255, 1);
  border-top: 1px solid;
  margin-top: 1 rem;

  /* background-color: aqua; */
}

.SubHeading {
  font-size: 14px;
  font-weight: 500;
}
.SubHeadingSetProfileForm {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 30px;
}

@media screen and (max-width: 650px) {
  .CountryCodeWrapper {
    width: 100% !important;
  }
  .CountryCodeSelect {
    width: 100% !important;
  }
  .Wrapper {
    width: 100%;
    border: 1px solid var(--border-grey);
    margin-top: 11rem;
  }
}
