.Wrapper {
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

.OnSelectMenu {
  border-radius: 14px;
  border: 1px solid var(--neutrals-stroke, var(--border-grey));
  background: #fff;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  width: 11rem;
}
.OnSelectMenuWrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.PopoverBtnClass {
  /* background-color: red; */
  padding: 0.5rem;
  border-radius: 6px;
}
.RemovePopoverBtnClass {
  background-color: var(--light-red-error);
  color: var(--red-error);
}
.MatchChipCell {
  /* display: flex; */
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.6rem 0;
  margin-top: 0.8rem;
}
.MatchChip {
  height: 1.8rem;
  padding: 0 1rem !important;
  align-items: center;
}
.ChipAndSourceWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.6rem;
}
.GreyText {
  color: var(--font-grey-25);
}
.DarkGreyText {
  color: var(--font-grey-75);
}
.SourceAdded {
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 6px;
}
.ChipsWrapper {
  display: flex;
  gap: 0.6rem;
  margin-top: 0.2rem;
}
.ChipsCustomClass {
  height: 20px !important;
  font-size: 10px !important;
  font-weight: 500 !important;
  color: var(--font-grey-sec) !important;
}
.Popover {
  display: flex;
  justify-content: flex-end;
}
.SelectPopoverPanel {
  position: relative;

  background-color: var(--white);

  border-radius: 10px;
  border: 1px solid var(--border-grey);
  padding: 0.1rem;
  width: 122px;

  /* Card */
  box-shadow: var(--primary-box-shadow);
}
.SelectedClass {
  background-color: var(--primary-green);
  color: var(--white);
  border-radius: 5px;
}
.Options {
  padding: 6px 10px;
}
.AddingMethodContentWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.SelectPopoverButton {
  border: 1px solid var(--border-grey);
  padding: 0.2rem 1rem;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
}
.SelectPopoverButton:focus {
  outline: 0px;
}

.CandidateImg {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

.Circle {
  padding: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--primary-green);
  position: relative;
}

.Circle img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.Lines > li {
  height: 3px;
  width: 52px;
  position: absolute;
  left: -3px;
  top: calc(50% - 2px);
}

.Lines > li:nth-child(1) {
  transform: rotate(90deg);
}
.Lines > li:nth-child(2) {
  transform: rotate(-150deg);
}
.Lines > li:nth-child(3) {
  transform: rotate(-30deg);
}

.Lines > li:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: #fff;
}
.Lines > li:after {
  left: 0;
}

.UserDp {
  padding: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.MatchText {
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  padding: 8px;
}

.Wrapper td {
  border: 1px solid var(--border-grey);
}
.AddCustomTagPopoverWrapper {
  position: relative;
}
.AddCustomTagPopover {
  position: absolute;
  border: 2px solid var(--border-grey);
  left: -250px;
  border-radius: 14px;
  padding: 1rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.TalentMatchWrapper {
  margin: 0 auto;
  width: fit-content;
}
.TalentCell {
  align-items: center;
}
.TextAlignCenter {
  text-align: center;
}
.EnterTagText {
  color: var(--black);
  font-size: 14px;
  margin-right: auto;
}
.BtnWrapper {
  display: flex;
  gap: 0.6rem;
}
.CursorPointer {
  cursor: pointer;
}
.TeamDynamicsMenu {
  display: flex;
  flex-direction: column;
  align-items: end;

  margin-left: auto;
}
.Common {
  display: flex;
  justify-content: center;
  align-items: center;
}

.IconBox {
  display: flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  /* background: rgba(75, 77, 237, 0.1); */
}

.IconBox > p {
  color: var(--tags-blue-100, #4b4ded);
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}

.SelectedCandidate {
  /* background: linear-gradient(90deg, #b4e4de 0%, rgba(34, 130, 118, 0.6) 100%); */
  background: linear-gradient(0deg, rgba(34, 130, 118, 0.1), rgba(34, 130, 118, 0.1));
}

.CursorPointer:hover {
  background-color: rgb(60, 136, 122);
  color: #fff;
}

.RedChip {
  position: relative;
  width: 7px; /* Adjust the width as needed */
  height: 15px; /* Adjust the height as needed */

  border-radius: 50% 0 0 50%; /* This creates a half-circle on the left side */
  margin-left: auto; /* This will push the chip to the right end */
  display: flex;
  align-items: center;
}

.RedChip::before {
  content: "";
  width: 10px; /* Adjust the width as needed */
  height: 10px; /* Adjust the height as needed */

  border-radius: 50%; /* This creates a full circle on the right side */
  margin-left: auto; /* This will position the circle on the right side */
}
.NodataText {
  color: var(--red-error);
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
}
